:root {
    --white: #fff;
    --white-a: #154e7d;
    --secondary: #f9f9f9;
    --secondary-a: #154e7d;
    --dark: #2b2b2b;
    --dark-a: #a1b8cb;
    --black: #000;
    --black-a: #a1b8cb;
    --primary-bright: #a1b8cb;
    --primary-bright-a: #0f3757;
    --primary-light: #37769c;
    --primary-light-a: #e5f2fb;
    --primary-light-focus: #236288;
    --primary: #154e7d;
    --primary-a: #e5f2fb;
    --primary-dark: #0f3757;
    --primary-dark-a: #e5f2fb;
    --accent-bright: #addbde;
    --accent-bright-a: #2e2e2e;
    --accent-light: #70c1c6;
    --accent-light-a: #2e2e2e;
    --accent: #0f838a;
    --accent-a: #d3ecee;
    --accent-alt: #32a6ad;
    --accent-dark: #267479;
    --accent-dark-a: #d3ecee;
    --grey-bright: #dcdcdc;
    --grey-bright-a: #0f3757;
    --grey-bright-hover: #d2d2d2;
    --grey-light: #b9b9b9;
    --grey-light-a: #0f3757;
    --grey: #727272;
    --grey-a: #e5f2fb;
    --grey-dark: #3a3a3c;
    --grey-dark-a: #e5f2fb;
    --success: #558318;
    --success-a: #fff;
    --info: #37757f;
    --info-a: #fff;
    --info-focus: #417f89;
    --warning: #b65e1f;
    --warning-focus: #ac5415;
    --warning-a: #fff;
    --danger: #a32c00;
    --danger-a: #fff;
    --vela-blue: #1f2d40;
    --vela-blue-a: #dcdee1;
    --vela-blue-focus: #2a435e;
    --vela-blue-hover: #263446;
    --vela-blue-light: #64b5f6;
    --vela-blue-dark: #17212f;
    --vela-blue-border: #2a3d57;
}

